In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('historique_df.csv')

In [49]:
df['main_joueur'] = df['main_joueur'].apply(eval)
df['main_dealer'] = df['main_dealer'].apply(eval)
df['actions'] = df['actions'].apply(eval)

In [50]:
df.head()

,main_joueur,main_dealer,actions,total_joueur,total_dealer,running_count,true_count,résultat,is_doubled
0,"[10, 11]","[3, 4, 5, 6]",[S],21,18,2,0,1.5,False
1,"[5, 10]","[10, 10]",[S],15,20,0,0,-1.0,False
2,"[5, 5, 6, 9]","[6, 8, 10]","[H, H]",25,24,3,0,-1.0,False
3,"[10, 8]","[10, 7]",[S],18,17,1,0,1.0,False
4,"[10, 10, 11, 10]","[2, 8, 7]","[H, D]",31,17,-2,0,-2.0,True

In [51]:
df['total_joueur_calcule'] = df['main_joueur'].apply(sum)
df['total_dealer_calcule'] = df['main_dealer'].apply(sum)

In [52]:
def carte_tour(row):
    main_joueur = row['main_joueur']
    main_dealer = row['main_dealer']
    nb_carte = len(main_joueur) + len(main_dealer)
    
    return nb_carte

In [53]:
def hi_lo_count(row):
    main_joueur = row['main_joueur']
    main_dealer = row['main_dealer']

    count = 0

    for carte in (main_joueur + main_dealer):
        if(carte in [2, 3, 4, 5, 6]):
            count += 1
        elif(carte in [10, 11]):
            count -= 1
    
    return count

In [54]:
df["carte_tour"] = df.apply(carte_tour, axis=1)
df["hi_lo_count"] = df.apply(hi_lo_count, axis=1)

In [55]:
df.head()

,main_joueur,main_dealer,actions,total_joueur,total_dealer,running_count,true_count,résultat,is_doubled,total_joueur_calcule,total_dealer_calcule,carte_tour,hi_lo_count
0,"[10, 11]","[3, 4, 5, 6]",[S],21,18,2,0,1.5,False,21,18,6,2
1,"[5, 10]","[10, 10]",[S],15,20,0,0,-1.0,False,15,20,4,-2
2,"[5, 5, 6, 9]","[6, 8, 10]","[H, H]",25,24,3,0,-1.0,False,25,24,7,3
3,"[10, 8]","[10, 7]",[S],18,17,1,0,1.0,False,18,17,4,-2
4,"[10, 10, 11, 10]","[2, 8, 7]","[H, D]",31,17,-2,0,-2.0,True,41,17,7,-3

In [56]:
df['carte_tour_cumul'] = df['carte_tour'].cumsum()
df['hi_lo_count_cumul'] = df['hi_lo_count'].cumsum()

In [57]:
df.head()

,main_joueur,main_dealer,actions,total_joueur,total_dealer,running_count,true_count,résultat,is_doubled,total_joueur_calcule,total_dealer_calcule,carte_tour,hi_lo_count,carte_tour_cumul,hi_lo_count_cumul
0,"[10, 11]","[3, 4, 5, 6]",[S],21,18,2,0,1.5,False,21,18,6,2,6,2
1,"[5, 10]","[10, 10]",[S],15,20,0,0,-1.0,False,15,20,4,-2,10,0
2,"[5, 5, 6, 9]","[6, 8, 10]","[H, H]",25,24,3,0,-1.0,False,25,24,7,3,17,3
3,"[10, 8]","[10, 7]",[S],18,17,1,0,1.0,False,18,17,4,-2,21,1
4,"[10, 10, 11, 10]","[2, 8, 7]","[H, D]",31,17,-2,0,-2.0,True,41,17,7,-3,28,-2

In [58]:
df['true_count_calculated'] = (df['hi_lo_count_cumul'] / ((312 - df['carte_tour_cumul']) / 52)).astype(int)

In [59]:
df.head()

,main_joueur,main_dealer,actions,total_joueur,total_dealer,running_count,true_count,résultat,is_doubled,total_joueur_calcule,total_dealer_calcule,carte_tour,hi_lo_count,carte_tour_cumul,hi_lo_count_cumul,true_count_calculated
0,"[10, 11]","[3, 4, 5, 6]",[S],21,18,2,0,1.5,False,21,18,6,2,6,2,0
1,"[5, 10]","[10, 10]",[S],15,20,0,0,-1.0,False,15,20,4,-2,10,0,0
2,"[5, 5, 6, 9]","[6, 8, 10]","[H, H]",25,24,3,0,-1.0,False,25,24,7,3,17,3,0
3,"[10, 8]","[10, 7]",[S],18,17,1,0,1.0,False,18,17,4,-2,21,1,0
4,"[10, 10, 11, 10]","[2, 8, 7]","[H, D]",31,17,-2,0,-2.0,True,41,17,7,-3,28,-2,0

In [61]:
# Création des nouvelles colonnes pour main_joueur
for i in range(1, 7):
    df[f'main_joueur_{i}'] = df['main_joueur'].apply(lambda x: x[i-1] if len(x) >= i else None)

# Création des nouvelles colonnes pour main_dealer
for i in range(1, 7):
    df[f'main_dealer_{i}'] = df['main_dealer'].apply(lambda x: x[i-1] if len(x) >= i else None)

# Création des nouvelles colonnes pour actions
for i in range(1, 7):
    df[f'actions_{i}'] = df['actions'].apply(lambda x: x[i-1] if len(x) >= i else None)

In [62]:
df.head()

,main_joueur,main_dealer,actions,total_joueur,total_dealer,running_count,true_count,résultat,is_doubled,total_joueur_calcule,...,main_dealer_3,main_dealer_4,main_dealer_5,main_dealer_6,actions_1,actions_2,actions_3,actions_4,actions_5,actions_6
0,"[10, 11]","[3, 4, 5, 6]",[S],21,18,2,0,1.5,False,21,...,5.0,6.0,NaN,None,S,None,None,None,None,None
1,"[5, 10]","[10, 10]",[S],15,20,0,0,-1.0,False,15,...,NaN,NaN,NaN,None,S,None,None,None,None,None
2,"[5, 5, 6, 9]","[6, 8, 10]","[H, H]",25,24,3,0,-1.0,False,25,...,10.0,NaN,NaN,None,H,H,None,None,None,None
3,"[10, 8]","[10, 7]",[S],18,17,1,0,1.0,False,18,...,NaN,NaN,NaN,None,S,None,None,None,None,None
4,"[10, 10, 11, 10]","[2, 8, 7]","[H, D]",31,17,-2,0,-2.0,True,41,...,7.0,NaN,NaN,None,H,D,None,None,None,None

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   main_joueur            41 non-null     object
 1   main_dealer            41 non-null     object
 2   actions                41 non-null     object
 3   total_joueur           41 non-null     int64
 4   total_dealer           41 non-null     int64
 5   running_count          41 non-null     int64
 6   true_count             41 non-null     int64
 7   résultat               41 non-null     float64
 8   is_doubled             41 non-null     bool
 9   total_joueur_calcule   41 non-null     int64
 10  total_dealer_calcule   41 non-null     int64
 11  carte_tour             41 non-null     int64
 12  hi_lo_count            41 non-null     int64
 13  carte_tour_cumul       41 non-null     int64
 14  hi_lo_count_cumul      41 non-null     int64
 15  true_count_calculated  41 non-null     int32
 16  main_joueur_1          41 non-null     int64
 17  main_joueur_2          41 non-null     int64
 18  main_joueur_3          22 non-null     float64
 19  main_joueur_4          7 non-null      float64
 20  main_joueur_5          2 non-null      float64
 21  main_joueur_6          0 non-null      object
 22  main_dealer_1          41 non-null     int64
 23  main_dealer_2          41 non-null     int64
 24  main_dealer_3          30 non-null     float64
 25  main_dealer_4          10 non-null     float64
 26  main_dealer_5          1 non-null      float64
 27  main_dealer_6          0 non-null      object
 28  actions_1              38 non-null     object
 29  actions_2              8 non-null      object
 30  actions_3              2 non-null      object
 31  actions_4              0 non-null      object
 32  actions_5              0 non-null      object
 33  actions_6              0 non-null      object
dtypes: bool(1), float64(7), int32(1), int64(14), object(11)
memory usage: 10.6+ KB

In [64]:
# Conversion des colonnes main_joueur en int
for i in range(1, 7):
    df[f'main_joueur_{i}'] = df[f'main_joueur_{i}'].astype('Int64')  # Int64 permet de gérer les valeurs None

# Conversion des colonnes main_dealer en int
for i in range(1, 7):
    df[f'main_dealer_{i}'] = df[f'main_dealer_{i}'].astype('Int64')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   main_joueur            41 non-null     object
 1   main_dealer            41 non-null     object
 2   actions                41 non-null     object
 3   total_joueur           41 non-null     int64
 4   total_dealer           41 non-null     int64
 5   running_count          41 non-null     int64
 6   true_count             41 non-null     int64
 7   résultat               41 non-null     float64
 8   is_doubled             41 non-null     bool
 9   total_joueur_calcule   41 non-null     int64
 10  total_dealer_calcule   41 non-null     int64
 11  carte_tour             41 non-null     int64
 12  hi_lo_count            41 non-null     int64
 13  carte_tour_cumul       41 non-null     int64
 14  hi_lo_count_cumul      41 non-null     int64
 15  true_count_calculated  41 non-null     int32
 16  main_joueur_1          41 non-null     Int64
 17  main_joueur_2          41 non-null     Int64
 18  main_joueur_3          22 non-null     Int64
 19  main_joueur_4          7 non-null      Int64
 20  main_joueur_5          2 non-null      Int64
 21  main_joueur_6          0 non-null      Int64
 22  main_dealer_1          41 non-null     Int64
 23  main_dealer_2          41 non-null     Int64
 24  main_dealer_3          30 non-null     Int64
 25  main_dealer_4          10 non-null     Int64
 26  main_dealer_5          1 non-null      Int64
 27  main_dealer_6          0 non-null      Int64
 28  actions_1              38 non-null     object
 29  actions_2              8 non-null      object
 30  actions_3              2 non-null      object
 31  actions_4              0 non-null      object
 32  actions_5              0 non-null      object
 33  actions_6              0 non-null      object
dtypes: Int64(12), bool(1), float64(1), int32(1), int64(10), object(9)
memory usage: 11.1+ KB

In [66]:
df.to_excel('historique_df_transforme.xlsx', index=False)